# PostgreSQL
DB_PORT=5432
DB_NAME=matchday
DB_USERNAME=matchday
DB_PASSWORD=matchday

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=matchday

# Riot eSports API (공개 키, 변경 시 교체)
RIOT_ESPORTS_API_KEY=0TvQnueqKa5mxJntVWt0w4LpLfEkrV1Ta8rQBb9Z